@import "../public/reset.css";
@import "https://at.alicdn.com/t/font_1449542_5c3nswr0dyl.css";

/* 整体布局 */
html,
body,
.wrapper {
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 1200px;
}
a,
button {
  cursor: pointer;
}
/* 导航栏 */
.wrapper .header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-top: 2px solid rgb(250, 125, 60);
  border-bottom: 1px solid rgb(233, 233, 233);
  /* position: fixed;
    top: 0;left: 0; */
}
/* 导航内容展示 */
.wrapper .header .headcontent {
  width: 60%;
  height: inherit;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* 导航左内容展示 */
.wrapper .header .headcontent .left .logo a {
  width: 190px;
  height: 48px;
  cursor: pointer;
  position: relative;
}
.wrapper .header .headcontent .left .logo a h1 {
  display: none;
}
.wrapper .header .headcontent .left .logo .log {
  display: block;
  width: 140px;
  height: 48px;
  background: url("../img/WB_logo.png") no-repeat;
  position: absolute;
  top: 10px;
  left: -50px;
}
.wrapper .header .headcontent .left .search {
  width: 470px;
  height: 30px;
  margin-left: 60px;
  position: relative;
}
.wrapper .header .headcontent .left .search input {
  width: 100%;
  height: 28px;
  border: 1px solid rgb(204, 204, 204);
  background-color: rgb(242, 242, 245);
  text-indent: 5px;
  padding: 3px;
  box-sizing: border-box;
  font-size: 12px;
}
.wrapper .header .headcontent .left .search input:focus {
  background-color: #fff;
  border: 1px solid rgb(250, 125, 60);
}
.wrapper .header .headcontent .left .search i {
  position: absolute;
  top: 1px;
  right: 15px;
}
/* 导航栏右边部分 */
.wrapper .header .headcontent .right {
  width: 440px;
  height: 48px;
  color: rgb(105, 110, 120);
  display: flex;
  justify-content: space-around;
  white-space: nowrap;
}
.wrapper .header .headcontent .right a:hover {
  color: rgb(235, 115, 80);
}
.wrapper .header .headcontent .right a i {
  font-size: 1.3em;
  font-weight: bold;
  /* vertical-align: middle; */
}
.wrapper .header .headcontent .right :nth-child(1) i {
  vertical-align: 0;
}
.wrapper .header .headcontent .right :nth-child(3) i {
  font-size: 1.1em;
}
.wrapper .header .headcontent .right > span {
  color: rgb(217, 217, 217);
  margin: 0 -10px;
}

/* 
    footer 底部导航栏
*/

.wrapper .footer {
  width: 100%;
  border-top: 1px solid rgb(242, 242, 242);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 12px;
}
.wrapper .footer .more {
  display: flex;
  margin-left: 50px;
}
.wrapper .footer .more .wonderful {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}
.wrapper .footer .more .wonderful .title h1 {
  font-size: 1.5em;
  margin: 20px 0;
  color: rgb(51, 51, 51);
}
.wrapper .footer .more .wonderful .infos {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.wrapper .footer .more .wonderful .infos a {
  display: inline-block;
  width: 30px;
  flex: 0 50%;
  margin: 5px 0;
  color: rgb(133, 129, 130);
}
.wrapper .footer .more .wonderful .infos a:hover {
  color: #eb7350;
}
.wrapper .footer .more .wonderful .infos img {
  width: 80px;
  height: 80px;
}
.wrapper .footer .more .wonderful .infos p {
  width: 120px;
  font-size: 16px;
  color: rgb(133, 129, 130);
  margin-left: 15px;
  line-height: 20px;
}
.wrapper .footer .more :nth-child(4) .infos a {
  width: 100%;
  margin-right: 20px;
}
/* 最后信息 */
.wrapper .footer .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(242, 242, 245);
  color: rgb(133, 129, 130);
  margin: 10px 0;
  font-size: 12px;
  padding: 20px 0 30px;
  box-sizing: border-box;
}
.wrapper .footer .info .item {
  margin: 4px 0;
}
.wrapper .footer .info .item select,
.wrapper .footer .info .item span {
  vertical-align: middle;
}
.wrapper .footer .info .item a {
  vertical-align: middle;
  margin: 6px;
}
.wrapper .footer .info .item a:hover {
  color: #eb7350;
}
.wrapper .footer .info .item a i {
  color: unset;
}
.wrapper .footer .info .item a img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-bottom: 3px;
}

/* 最后的刷新和置顶功能 */
.wrapper .container .last {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 3%;
  right: 16.5%;
}
.wrapper .container .last a {
  width: 40px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 20px;
  margin: 5px 0;
  color: #fff;
  background-color: rgb(165, 168, 174);
}
.wrapper .container .last a:hover {
  background-color: rgb(105, 110, 120);
}
